body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiSelect-select, .MuiFormControlLabel-label {
  font-size: 0.9rem !important;
}

.MuiButton-root {
  text-transform: unset !important;
  font-weight: bold !important;
}

ul {
  margin: 0 !important;
}

.ql-editor{
  min-height: 200px;
}
